<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morrowbone.mafiacards.app">

    <application
        android:name="com.morrowbone.mafiacards.app.application.MafiaApp"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/don_launcher_xh"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.morrowbone.mafiacards.app.activity.RulesActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.morrowbone.mafiacards.app.activity.ShowUserCartActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.morrowbone.mafiacards.app.activity.MainActivity"
            android:label="@string/role_mafia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
